.orders {
  border: 1px solid #e4e2e6;
  border-radius: 8px;
  width: 40%;
}
.orders h1 {
  margin-right: 0.5vw;
}
.topOrders {
  border-bottom: 1px solid #e4e2e6;
  margin: 1vw;
  padding-bottom: 0.5vw;
}
.topOrders span {
  padding-left: 1.5vw;
}
.topOrders span:hover {
  border-bottom: 3px solid #2f5ed6;
  padding-bottom: 0.5vw;
}
.noOrders {
  width: 15vw;
  padding: .5vw 25%;
  margin: 5%;
}
