.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid #d6d6d6;
}
.headMenu {
  display: flex;
  gap: .5vw;
  flex-direction: row-reverse;
  list-style: none;
  margin: 0px;
  align-items: center;
}
.headMenu li button:hover {
  color: #ffffff;
  background-color: #2f5ed6;
  border-radius: .5vw;

}
.headMenu li button {
  background-color: transparent;
  border: none;
  padding: .5vw;
}
.searchBox {
  position: relative;
}
.searchBox input {
  padding: 0.5vw 1vw 0.5vw 10vw;
  border: 1px solid #d6d6d6;
  border-radius: 16px;
}
.searchBox input::placeholder {
  color: #2f5ed6;
}
.searchBox span {
  position: absolute;
  left: 0.5vw;
  top: 0.3vw;
  font-size: 1.5vw;
}
.prfItem {
  position: relative;
}
.counter {
  color: brown;
}
.logo {
  width: 7vw;
}
.headBtn {
  font-size: 1.3vw;
}
.prfDisplay {
  display: none;
}
