.navbar {
    display:flex;
    padding-right: 13vw;
    margin-bottom: 1vw;
    gap: .5vw;
    list-style: none;
}
.navItems{
    text-decoration: none;
    color: #ffff;
}
.navbar li button:hover{
    /* border-radius: .5vw; */
    background-color: #2F5ED6;
    /* color: #ffffff;
    padding: .5vw; */
}
.navIcons{
    font-size: 1vw;
    color: #ffff;
    padding-left: .5vw;
}
.navbar li{
    display: flex;
    align-items: center;
}
.navbar li button{
border: none;
border-radius: .5vw;
background-color: #4b75de;
color: #ffffff;
padding: .5vw;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}
.reqError{
    animation: fadeOut 4s forwards;
    padding-right: 5vw;
    color: rgb(169, 3, 3);
    margin: 0px;
}