.container {
  display: flex;
  gap: 5vw;
  justify-content: center;
  background-color: #eeedf4;
  padding: 1.5vw 0px;
  border-radius: 5px;
  margin: 2vw 13vw;
  border-radius: 0px 4vw;
}
.container div {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
.container div img {
  width: 5vw;
}
