.productItem {
  display: flex;
  gap: 1vw;
  flex-wrap: wrap;
  justify-content: center;
}
.item img{
  border-radius: 8px;
  object-fit:contain;
  width: 100%;
  height: 100%; 
  /* border-radius: 2vw; */
}
.item{
  border: 1px solid #c7c6ca;
  border-radius: 1vw;
  display: flex;
  flex-direction: column;
  width:15vw;
  height: 20vw;
  padding: 1vw;
}
.item p{
    margin: 0px;
    text-align: left;
}
.BasketCounter{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.BasketCounter div button{
    margin: .5vw;
    background-color: transparent;
    border: none;
    font-weight: bolder;
}
.BasketCounter div button:hover{
    background-color: #2F5ED6;
    color: #ffffff;
    padding:0vw .5vw;
    border-radius:5px;
}
.basketBtn{
    border: 1px solid #2F5ED6;
    color: #2F5ED6;
    border-radius: 5px;
    background-color: transparent;
    padding: .5vw 0vw;
}
.basketBtn:hover{
    background-color: #2F5ED6;
    color: #ffffff;
}
.heartIcon{
  font-size: 1.2vw;
}
.item div{
  display: flex;
  align-items:center;
  justify-content: space-between;
}
